pre:not([class]) {
  font-family      : "Courier New", monospace;
  font-size        : 16px;
  color            : black;
  background-color : #F9F9F9;           /* cinza claro */
  border           : 2px solid #c9c9c9; /* cinza */
  max-width        : 100%;
  padding          : 1.6em 1.6em;
  margin-bottom    : 1.6em;
  margin-bottom    : 1.6em;
}

pre:not([class]) code {
  word-wrap        : normal;
  white-space      : pre;
  background-color : #e6ffe6; /* verde claro */
}

p code {
  font-size        : 0.85em;
  color            : #ce7e24; /* laranja */
  background-color : #F9F9F9; /* cinza claro */
  padding          : 0px;
}


.aumentar {
  font-size        : 24px;
  font-weight      : bold;
  text-align       : center;
  color            : #99ffcc; /* verde */
  background-color : black;
  border           : 6px solid red;
}

.seletor {
  font-family      : "Courier New", monospace;
  font-size        : 16px;
  color            : black;
  background-color : white;
  border-style     : none;
}

blockquote {
  border-left: 10px solid #E7973C;
  font-size: 0.95em;
  color: #E7973C;
}



